.modal-menu {
  position:absolute;
  z-index:9999;
  width:250px;
  background-color:#fff;

  ul, li {
    list-style-type:none;
    padding:0;
    margin:0;

    a { 
      color:$standard-type;
      text-decoration:none; 
    }
  }

  @include rounded-corners(2px);
  @include box-shadow(2px, 2px, 18px, 0.4);

  .group {
    padding:5px 0;
    border-bottom:1px solid $lightgrey-border;
    font-weight:bold;
    font-size:16px;
    font-family:Assistant;

    .icon {
      font-size:14px;
      font-weight:normal;
      display:inline-block;
      width:16px;
      padding-right:4px;
    }

  }

  .group:last-child {
    border-bottom:none;
  }

  .option {
    cursor:pointer;
    position:relative;
  }

  .option > * {
    width:100%;
    height:100%;
    display:inline-block;
    padding:4px 12px;
    box-sizing:border-box;
  }

  .option:hover {
    background-color:lighten($lightgrey-border, 5%);
  }

  .option.disabled {
    color:darken($lightgrey-border, 12%);
  }

}
