.user-search {
  font-size:16px;

  input {
    font-size:16px;
  }

  .sr-only.rbt-sr-status {
    display:none;
  }

  ul {
    margin:0;
    padding:0;
    background-color:#fff;
    @include rounded-corners(2px);
    @include box-shadow(0, 0, 5px, 0.3);
  }

  mark {
    background-color:transparent;
    color:$standard-type;
  }

  li {
    padding:3px 8px;

    a {
      text-decoration:none;
      color:$standard-type;
    }
  }

  li.active {
    background-color:$ocean;

    a, mark {
      color:#fff;
    }

  }

}
