.modal-form-wrapper {
  width:440px;
  min-width:440px;
  max-width:440px;

  .modal {
    top:30%;
    background-color:#fff;
    @include rounded-corners(2px);
  }

  .modal-inner {
    padding:20px;
  }

  input {
    width:100%;
    padding:5px;
  }

  .footer {
    padding-top:15px;
    text-align:right;

    button {
      margin-left:3px;
    }

  }

}