@import "preferences";

.documents-table-header {
  flex:0;
  margin:0 0 0 22px;
  position:relative;
  box-shadow:0 4px 4px -4px rgba(96, 96, 96, 0.3);

  .column-labels {

    .label {
      display:inline-block;
      position:relative;
      box-sizing:border-box;
      padding-right:26px;

      .inner-wrapper {
        display:inline-block;
        max-width:100%;
        white-space:nowrap;
      }
      
      .inner {
        cursor:pointer;
        display:inline-block;
        max-width:100%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      .sort {
        font-family:Stroke7;
        font-size:26px;
        font-weight:bold;
        color:#7f8a9b;
  
        .inner {
          position:relative;
          left:-1.5px;
          line-height:16px;
        }
  
      }
  
      .sort:hover {
        color:#444;
      }

    }

    .label:last-child {
      padding-right:34px;
    }

  }

  .column-options-btn {
    position:absolute;
    right:10px;
    bottom:12px;
    font-size:14px;
    width:25px;
    height:25px;
    color:$lightblue-type;
    @include rounded-corners(100%);
  }

  .column-options-btn:hover {
    color:#444;
    background-color:lighten($lightgrey-border, 3%);
  }

}

.column-labels {
  font-weight:bold;
  padding:0;
  width:100%;
  border-bottom:1px solid $lightgrey-border-darker;

  .label {
    padding:15px 8px;
  }

  .label:first-child {
    padding-right:32px;
  }

}

.column-labels, .table-pane .row {
  font-size:14px;
}

.row a {
  box-sizing:border-box;
  display:inline-block;
  color:#444;
  text-decoration:none;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.documents-pane.table-pane {

  .virtualized-list {
    outline: none;
    padding-bottom:30px;
    overflow-y:scroll !important;
  }

  .row {
    border-top:1px solid $lightgrey-border-darker;
    box-sizing:border-box;
    cursor:pointer;
    @include noselect();

    .folder-title {
      display:block;

      input {
        outline:none;
        border:none;
        padding:0;
        margin:0;
        font-size:14px;
        letter-spacing:normal;
        background-color:$blueish-white;
      }
    }

    .editable {
      cursor:text;
      @include rounded-corners(3px);
    }

    .editable:hover {
      background-color:$blueish-white;
    }
    
    a, .folder-title {
      padding:14px 8px;
    }

    .type.icon {
      position:absolute;
      top:15px;
      left:0;
    }

    a:first-child, .folder-title {
      // Leave room for type icon
      padding-left:32px;
    }

    a.document, a.folder-name {
      font-weight:bold;
    }

    a.annotations,
    a.public_visibility {
      text-align:center;
    }
    
    a.status_ratio {
      position:relative;

      .bar {
        position:absolute;
        top:5px;
        left:24px;
        width:50%;
        max-width:70px;
        height:6px;
        display:inline-block;
        background-color: $lightgrey-border-darker;
        overflow:hidden;
        @include rounded-corners(2px);

        span {
          display:inline-block;
          height:100%;
        }

        span.verified {
          background-color:#10b910;
        }

        span.not_identifiable {
          background-color:#ffc800;
        }
      }
    }

    .icon {
      font-size:14px;
      text-align:center;
      line-height:14px;
      padding-left:8px;

      img {
        width:16px;
        height:16px;
        color:#fff;
        @include rounded-corners(1px);
      }
    }

    .TEXT_PLAIN   .inner { background-color:#5a88de; }
    .TEXT_TEI     .inner { background-color:#5a88de; }
    .IMAGE_UPLOAD .inner { background-color:#ff9f59; }
    .IMAGE_IIIF   .inner { background-color:#ff9f59; }
  }

  .row.selected, .row.selected:hover {
    background-color:rgba($ocean, 0.2);
    border-top-color:rgba($ocean, 0.15);
  }

  .row:hover {
    background-color:lighten($lightgrey-border, 9%);
  }

  .row:first-child {
    border-top:none;
  }

  .row.folder {
    text-decoration:none;
    color:#444;

    .type.icon {
      color:darken($lightblue-type, 10%);
      padding:1px 0 0 9px;
    }

  }

}
