@import "search/search";
@import "../common/content/headericon";

.header {
  flex:0;
}

.header.no-readme .breadcrumbs {
  border-bottom:1px solid $lightgrey-border;
}

.header-icons {
  display:inline-block;
  position:absolute;
  top:20px;
  right:20px;
  height:44px;
}

.header .main-header {
  position:relative;

  .add-abstract {
    margin-left:6px;
    font-family:Assistant;
    font-size:14px;
    color:$lightblue-type;
    font-weight:bold;

    .icon {
      font-weight:normal;
      padding-right:5px;
    }
  }

  .add-abstract:hover {
    color:$standard-type;

    .label {
      text-decoration:underline;
    }
  }

  .subheader-icons {
    position:absolute;
    top:-4px;
    right:20px;

    .selection-actions {
      vertical-align:middle;
      background-color:$ocean;
      color:#fff;
      display:inline-block;
      margin-right:2px;
      width:0;
      height:34px;
      transition:200ms;
      white-space:nowrap;
      overflow:hidden;
      cursor:pointer;

      @include rounded-corners(3px);

      .label {
        display:inline-block;
        padding:8px 2px 8px 10px;
        font-size:14px;
        font-weight:bold;
      }

      .icon.more { 
        display:inline-block;
        padding:12px 9px;
        font-size:10px;
        line-height:12px;
        vertical-align:middle;
      }
    }

    .selection-actions:hover {
      background-color:lighten($ocean, 10%);
    }

    .selection-actions-enter,
    .selection-actions-enter-done {
      width:88px;
    }
        
    .selection-actions-exit, 
    .selection-actions-exit-done {
      width:0;
    }

    .modal-menu.selection-actions-menu {
      top:46px;
      right:35px;
    }

    .presentation-toggle {
      vertical-align:middle;
    }

  }

}
