.edit-stats {
  padding:15px 20px 5px 20px !important;

  h2 {
    font-size:17px;
    padding-bottom:6px;

    .count {
      float:right;
      font-weight:normal;
      font-size:16px;
    }
  }

  .recharts-wrapper {
    padding-top:5px;
    margin-left:-3px;

    svg {
      shape-rendering:crispEdges;
    }
  }

}