.container {

  .readme {
    margin:15px 20px 30px 0;
    padding:15px 15px 5px 15px;
    border:1px solid $lightgrey-border-darker;
    background-color:$blueish-white;
    @include rounded-corners(3px);

    .inner {
      outline:none;
    }

    h1 {
      font-size:22px;
    }

  }

  .readme.editing {
    padding:15px;
    border-color:$ocean;
    background-color:rgba($ocean, 0.25);
  }

}