.preferences.clicktrap {
  z-index:2; // Needed for "sort ghost" element
}

.preferences .modal-wrapper {
  max-width:620px;
}

.preferences .modal {
  display:block;
}

.preferences .modal-body {
  position:relative;
  font-weight:bold;
  display:flex;
  flex-direction:column;
}

.preferences .scroll-pane {
  flex:1;
  overflow-y:scroll;
  background-color:$blueish-white;  
  display:grid;
  grid-template-columns: auto 240px;
  position:relative;
}

.preferences .scroll-pane .selected-columns {
  background-color:#fff;
  border-right:1px solid $lightgrey-border-darker;
  height:100%;
  padding:25px 0;

  .all {
    color:$ocean;
    font-size:15px;
    font-family:Assistant;
    text-decoration:underline;
    padding:0 0 5px 27px;
    font-weight:bold;
  }

  ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }

  li {
    padding:8px 30px;
    font-size:15px;

    label {
      cursor:pointer;
    }

    label:before {
      font-size:14px;
      font-weight:normal;
    }

  }

}

.preferences .scroll-pane .column-order {
  width:240px;
}

.preferences .buttons {
  flex:0;
  padding:15px 25px;
  border-top:1px solid $lightgrey-border-darker;

  .btn {
    padding:4px 20px;
    margin-right:10px;
  }
}

.card {
  position:relative;
  margin:8px;
  padding:12px;
  font-weight:bold;
  color:darken($lightgrey-border, 50%);
  background-color:$lightgrey-border;
  border:1px solid darken($lightgrey-border, 20%);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.18);
  cursor:grab;
  z-index:3; // Needed for "sort ghost" element

  @include noselect();
  @include rounded-corners(2px);
}

.card::before {
  content:'\f0c9';
  position:absolute;
  right:15px;
  top:15px;
  font-family:FontAwesome;
  font-size:14px;
  font-weight:normal;
  color:darken($lightgrey-border, 25%);
}
