@font-face {
  font-family:'Assistant';
  src:url('/assets/fonts/assistant/Assistant-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Assistant';
  src:url('/assets/fonts/assistant/Assistant-SemiBold.ttf');
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:'FontAwesome';
  src:url('/assets/fonts/font_awesome/fontawesome-webfont.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Stroke7';
  src:url('/assets/fonts/stroke7/Pe-icon-7-stroke.ttf');
  font-weight:normal;
  font-style:normal;
}


@font-face {
  font-family:'Tonicons';
  src:url('/assets/fonts/tonicons/Tonicons.ttf');
  font-weight:normal;
  font-style:normal;
}
