@import "search";

.top-bar {
  position:relative;
  background-color:#fff;
  padding:25px 20px 20px 5px;
  border-bottom:3px solid $ocean;
  box-shadow:0 0 5px rgba(96, 96, 96, 0.6);
  font-weight:bold;
  z-index:1;
  display:flex;
  flex-direction:row;

  a {
    color:$ocean;
    text-decoration:none;
  }
  
  a:hover {
    text-decoration:underline;
  }

  .top-left, .top-right {
    display:inline-block;
    white-space:nowrap;
  }

  .top-left {

    * {
      vertical-align:middle;
    }

    a {
      padding:0 10px;
    }

    .home img {
      width:130px;
    }

  }

  .top-right {
    flex:1;
    padding-top:12px;
    text-align:right;
  }

}