@import "autocomplete";

.multi-share .multi-share-body {

  .collaborators {

    .no-collaborators {
      padding: 25px 0 10px 0;
      font-size: 15px;
    }

    table {
      width:100%;
      margin:0 0 10px 0;
    }
    
    td {
      padding:3px 0;
    }

    td:first-child {
      width:50%;
    }

    td:last-child {
      text-align:right;
    }

    .btn.small {
      position:relative;
      width:95px;
      padding:4px 30px 4px 20px;

      .icon {
        position:absolute;
        top:2px;
        right:8px;
      }

    }

  }

  .permission-selector {
    position:absolute;
    background-color:#fff;
    margin:4px 0 0 2px;
    overflow:hidden;
    width:340px;
    z-index:1;

    @include rounded-corners(2px);
    @include box-shadow(0, 0, 5px, 0.25);

    h3 {
      margin:0;
      padding:8px 10px;
      background-color:$blueish-white;
      font-size:16px;
      font-weight:normal;
      border-style:solid;
      border-color:$lightgrey-border-darker;
      border-width:1px 1px 0 1px;

      .close {
        float:right;
        line-height:23px;
        color:lighten($standard-type, 40%);
        cursor:pointer;
      }

      .close:hover {
        color:$standard-type;
      }

    }

    .checked {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      width:40px;

      .icon {
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        text-align:center;
        width:100%;
        height:32px;
      }

    }

    h4 {
      margin:0;
      padding:0;
      font-size:16px;
      line-height:190%;
    }

    p  {
      margin:0;
      padding:0;
      line-height:120%;
    }

    ul {
      list-style-type:none;
      margin:0;
      padding:0;

      li {
        position:relative;
        padding:10px 20px 20px 40px;
        border-style:solid;
        border-color:$lightgrey-border-darker;
        border-width:1px 1px 0 1px;
        font-size:16px;
        cursor:pointer;
      }

      li:hover {
        background-color:$ocean;
        border-color:$ocean;
        color:#fff;

        p { color: #fff;}

      }

      li:last-child {
        border-bottom-width:1px;
      }

    }

  }

  .add-collaborator {
    input { 
      width:100%;
      padding:5px;
    }
  }

}
