@import '../content/grid/grid';
@import '../content/table/table';
@import '../content/breadcrumbs';
@import '../content/readme';

@import "../components/modal";

.main-content {
  height:100%;
  display:flex;
  flex-direction:column;
  position:relative;

  .dropzone {
    display:flex;
    flex-direction:column;
    flex:1;
  }

  .documents-pane {
    margin:0 0 0 22px;
    position:relative;
    flex:1;

    .busy-mask {
      position:absolute;
      top:0;
      left:1px;
      right:0;
      height:100%;
      background-color:rgba(#fff, 0.6);
    }
  }

}
