$sidebar-border:darken($lightgrey-border, 7.5%);

@import "../account/identity";
@import "../account/activity";

.sidebar {
  position:absolute;
  top:0;
  left:0;
  width:270px;
  padding:0;
  height:100%;
  box-sizing:border-box;
  background-color:$blueish-white;
  line-height:20px;
  border-right:1px solid $lightgrey-border-darker;
  font-weight:bold;

  .section {
    position:relative;
  }

}