@import "search";

.top-bar {
  position:relative;
  background-color:#fff;
  padding:25px 20px 20px 5px;
  // border-top:3px solid $ocean;
  border-bottom:3px solid $ocean;
  box-shadow:0 0 5px rgba(96, 96, 96, 0.6);
  z-index:1;

  .top-left, .top-right {
    display:inline-block;
  }

  .top-left {

    * {
      vertical-align:middle;
    }

    a {
      padding:0 10px;
    }

    .home img {
      width:130px;
    }

  }

  .top-right {
    float:right;
    padding-top:8px;
  }

}