/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** Base background colors         **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

// Recogito's light blue signature colour
$ocean:#4483c4;

// Slightly lighter version for hover effects on ocean-coloured buttons
$ocean-hover:#4f92d7;

// 'Pale' version of ocean for disabled buttons
$ocean-disabled:#a3c2e2;

// Dark blue used in sidebar and splash page footer
$nightsky:#244566;

// Pale blue used as alternative background colour
$blueish-white:#ecf0f1;

// 'Complementary' highlight colours used to identify different content types
$shore:#beb22c;
$meadow:#2fa523;

// Used for accent borders on white background - e.g. annotation area header
$lightgrey-border:#e5e5e5;
$lightgrey-border-darker:#d6d7d9;

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** Type colors                    **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

// Standard 'black' (well, not quite) type
$standard-type:#3f3f3f;

// Icons, links, emphasized type on white background - e.g. in annotation area header
$lightblue-type:#9ca4b1;

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** Form colors                    **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

$form-type:#525252;
$form-blue-glow:rgba(79,146,215,0.5);
$form-grey-border:#e7e7e7;
$form-blue-border:#4f92d7;

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** Info & warning dialog colors   **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

$error-msg-type:#a94442;
$error-msg-bg:#f2dede;
$error-msg-border:#ebccd1;