@import "../../common/content/editstats";
@import "../../common/content/identity";

.sidebar {
  padding-top:95px;

  .section {
    padding:20px;
    border-bottom:1px solid $sidebar-border;
  }

  .section.compact {
    padding:0 20px;
  }

  .collaborators {
    padding:25px 0 15px 0;

    h2 {
      font-size:17px;
    }

    ul {
      list-style-type:none;
      margin:0;
      padding:15px 0;
    }

    li {
      display:inline-block;
      margin-right:8px;
    }

    a {
      text-decoration:none;
    }

  }

}