@import "../../common/content/editstats";
@import "../../common/content/profile/collaboratorlist";
@import "../../common/content/profile/identity";

.sidebar {
  padding-top:95px;

  .section {
    padding:20px;
    border-bottom:1px solid $sidebar-border;
  }

  .section:last-child {
    border-bottom:none;
  }

}