@import "../../common/account/identity";
@import "../../common/account/topcollaborators";

.sidebar {
  padding-top:95px;

  .section {
    padding:20px;
    border-bottom:1px solid $sidebar-border;
  }

  .section:last-child {
    border-bottom:none;
  }

  .section.send-message {

    * {
      vertical-align:baseline;
    }

    .btn {
      width:100%;
    }

    .icon {
      padding-right:10px;
    }

  }

}