@import "../../common/content/editstats";
@import "../../common/content/identity";

.sidebar {
  padding-top:95px;

  .section {
    padding:20px;
    border-bottom:1px solid $sidebar-border;
  }

  .section:last-child {
    border-bottom:none;
  }

  .section.compact {
    padding:0 20px;
  }

  .collaborators {
    padding:20px 0 15px 0;

    h2 {
      font-size:17px;
    }

    ul {
      list-style-type:none;
      margin:0;
      padding:8px 0;
    }

    li {
      display:inline-block;
      margin:3px 5px 2px 0;
    }

    a {
      text-decoration:none;
    }

  }

}