@import "../../common/account/identity";
@import "../../common/account/topcollaborators";

.sidebar {
  padding-top:95px;

  .section {
    padding:20px;
    border-bottom:1px solid $sidebar-border;
  }

  .section:last-child {
    border-bottom:none;
  }

}