@import "../../components/spinner";
@import "dropzone";

.upload-progress {
  position:absolute;
  bottom:40px;
  right:40px;
  width:460px;
  border:1px solid darken($ocean, 10%);
  @include box-shadow(1px, 1px, 14px, 0.5);

  .phase {
    position:relative;
    padding:8px 15px;
    color:#fff;
    font-weight:bold;
    background-color:$ocean;
    border-bottom:1px solid darken($ocean, 10%);

    button.close {
      position:absolute;
      top:11px;
      right:12px;
      margin:0;
      padding:0;
      color:#fff;
      font-family:Tonicons;
      font-weight:bold;
    }

  }

  .files.has-errors li:last-child {
    border-bottom:none;
  }

  .files {
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:lighten($lightgrey-border, 4%);
    font-weight:bold;

    li {
      position:relative;
      padding:12px 15px;
      border-bottom:1px solid $lightgrey-border-darker;
    }
    
  }

  .errors {
    color:$error-msg-type;
    background-color:$error-msg-bg;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;

    li {
      border-color:$error-msg-border;
      border-style:solid;
      border-width:1px 0;
      padding:12px 15px;
    }

  }

  .progress {
    padding:25px 15px;
    background-color:#fff;
    border-bottom:1px solid $lightgrey-border;

    .meter {
      height:4px;
      background-color:$lightgrey-border;
      overflow:hidden;
      @include rounded-corners(2px);

      .bar {
        background-color:$ocean;
      }
    }
  }

}

@-webkit-keyframes loadRotation {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(359deg); }
}
@keyframes loadRotation {
  from { transform: rotate(0deg); }
  to   { transform: rotate(359deg); }
}
