.folder-browser {
  background-color:#fff;
  width:300px;

  .icon {
    margin:0;
    padding:0;
    font-family:Stroke7;
    font-size:28px;
    color:rgba(0, 0, 0, 0.54);  
  }

  .header {
    background-color:$ocean; // lighten($blueish-white, 2.5%);
    padding:5px;
    color:#fff;
    display:flex;
    justify-content:space-between;
    @include rounded-corners-top(3px);

    .icon {
      color:#fff;
    }

    .up:hover {
      background-color:rgba(255, 255, 255, 0.15);
      @include rounded-corners(100%);
    }

    .title {
      line-height:28px;
      margin-left:7px;
      flex-grow:1;
    }

    .cancel {
      float:right;
    }

  }

  .body {
    height:200px;
    overflow-y:auto;
    font-size:14px;

    ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }

    li {
      padding:10px 15px;
      position:relative;

      .icon {
        padding:0;
        position:absolute;
        right:6px;
        top:6px;
        @include rounded-corners(100%);
      }

      .icon:hover {
        background-color:rgba(0, 0, 0, 0.15);
      }

    }

    li:before {
      content:'\f07b';
      font-family:FontAwesome;
      margin-right:8px;
      color:darken($lightblue-type, 10%);
    }

    li:hover {
      background-color:rgba(0, 0, 0, 0.03);
    }

    li.selected {
      background-color:rgba($ocean, 0.2);
    }

    .wipe-leave {
      transition: transform 0.2s ease-in-out;
      transform: translate(0, 0);
    }

    .wipe-leave.up {
      transition: transform 0.2s ease-in-out;
      transform: translate(0, 0);
    }
    
    .wipe-leave-active.into {
      transform: translate(-100%, 0);
    }
    
    .wipe-enter.into {
      transition: transform 0.2s ease-in-out;
      transform: translate(100%, 0);
    }

    .wipe-leave-active.up {
      transform: translate(100%, 0);
    }
    
    .wipe-enter.up {
      transition: transform 0.2s ease-in-out;
      transform: translate(-100%, 0);
    }

    .wipe-enter-active {
      transform: translate(0, 0);
    }
    
    .wipe-height {
      transition: height 0.4s ease-in-out;
    }

  }

  .footer{
    padding:10px;
    text-align:right;
    border-top:1px solid $lightgrey-border;

    .btn {
      padding:3px 10px;
      font-weight:bold;
    }

  }
  
}