.folder-browser {
  background-color:#fff;
  width:400px;

  .icon {
    margin:0;
    padding:0;
    font-family:Stroke7;
    font-size:28px;
    color:rgba(0, 0, 0, 0.54);  
  }

  .header {
    background-color:lighten($blueish-white, 2.5%);
    padding:5px;
    border-bottom:1px solid $lightgrey-border;
    @include rounded-corners-top(3px);

    .icon:hover {
      color:rgba(0, 0, 0, 0.5);
    }

    .cancel {
      float:right;
    }

  }

  .body {
    height:200px;
    overflow-y:scroll;
    font-size:14px;

    ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }

    li {
      padding:10px 15px;
      position:relative;

      .icon {
        padding:0;
        position:absolute;
        right:10px;
        top:6px;
        @include rounded-corners(100%);
      }

      .icon:hover {
        background-color:rgba(0, 0, 0, 0.15);
      }

    }

    li:before {
      content:'\f07b';
      font-family:FontAwesome;
      margin-right:8px;
      color:darken($lightblue-type, 10%);
    }

    li:hover {
      background-color:rgba(0, 0, 0, 0.05);
    }

    li.selected {
      background-color:rgba($ocean, 0.2);
    }

  }

  .footer{
    padding:10px;
    text-align:right;
    border-top:1px solid $lightgrey-border;

    .btn {
      padding:3px 10px;
      font-weight:bold;
    }

  }
  
}