.modal-wrapper.popup-form {
  width:440px;
  min-width:440px;
  max-width:440px;

  .modal {
    top:30%;
    @include rounded-corners(2px);
  }

  .modal-body {
    padding:20px;
  }

  input {
    width:100%;
    padding:5px;
  }

  .buttons {
    padding-top:15px;
    text-align:right;

    button {
      margin-left:3px;
    }

  }

}