.section.storage {
  border-style:solid;
  border-color:$sidebar-border;
  border-width:1px 0;  
  padding:20px;

  .icon {
    display:inline-block;
    width:25px;
  }

  .used-diskspace {

    .meter {
      margin:10px 0 6px 0;
      height:4px;
      background-color:darken($blueish-white, 12%);
      @include rounded-corners(2px);
    }

    .bar {
      background-color:$ocean;
      @include rounded-corners(2px);
    }

    .label {
      font-weight:normal;
      font-size:14px;
    }

  }
}
