.sidebar-section.storage {
  border-top:1px solid $sidebar-border;

  .icon {
    display:inline-block;
    width:25px;
  }

  .used-diskspace {

    .meter {
      margin:10px 0 6px 0;
      height:4px;
      background-color:darken($blueish-white, 12%);
      @include rounded-corners(2px);
    }

    .bar {
      background-color:$ocean;
      @include rounded-corners(2px);
    }

    .label {
      font-weight:normal;
      font-size:14px;
    }
  }

}
