@import "../common/globals/globals";

@import "../common/content/headericon";

@import "../common/layout/sidebar";
@import "../common/layout/main";

@import "topbar/topbar";
@import "sidebar/sidebar";

#app {
  display:flex;
  flex-direction:column;
}

.main-content {
  padding-top:8px;
  flex:1;
  overflow:hidden;

  .header-icon {
    position:absolute;
    top:7px;
    right:20px;
  }

  .no-public-documents {
    margin:0 0 0 22px;
    flex:1;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:30px;
    color: lighten($lightblue-type, 10%);
  }

}

