@import "../common/globals/globals";

@import "../common/layout/sidebar";
@import "../common/layout/container";

@import "topbar/topbar";
@import "sidebar/sidebar";

.container {
  padding-top:8px;
  flex:1;
  overflow:hidden;
}

#app {
  display:flex;
  flex-direction:column;
}

