@import "../common/globals/globals";

@import "../common/documents/headericon";

@import "../common/layout/sidebar";
@import "../common/layout/main";

@import "operations/forking";
@import "operations/message";
@import "topbar/topbar";
@import "sidebar/sidebar";

#app {
  display:flex;
  flex-direction:column;
}

.main-content {
  padding-top:8px;
  flex:1;
  overflow:hidden;

  .main-header-icons {
    position:absolute;
    top:7px;
    right:20px;

    .fork-button {
      font-family:Assistant;
      padding:0;
      border:none;
      outline:none;
      position:relative;
      background-color:$ocean;
      color:#fff;
      display:inline-block;
      margin-right:4px;
      width:0;
      height:34px;
      transition:200ms;
      white-space:nowrap;
      overflow:hidden;
      cursor:pointer;
      text-align:center;
      vertical-align:text-bottom;

      @include rounded-corners(3px);

      .label {
        display:inline-block;
        padding:8px;
        font-size:14px;
        font-weight:bold;
      }

      .icon {
        vertical-align:middle;
        padding-left:8px;
      }
    }

    .fork-button:hover {
      background-color:lighten($ocean, 10%);
    }

    .fork-button-enter,
    .fork-button-enter-done {
      width:190px;
    }
        
    .fork-button-exit, 
    .fork-button-exit-done {
      width:0;
    }


  }

  .no-public-documents {
    margin:0 0 0 22px;
    flex:1;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:30px;
    color: lighten($lightblue-type, 10%);
  }

}

