@import "includes/colors";
@import "includes/fonts";
@import "includes/mixins";
@import "includes/buttons";
@import "includes/forms";

html, body, #app {
  background-color:#fff;
  color:$standard-type;
  font-family:Assistant;
  font-size:16px;
  height:100%;
  margin:0;
  padding:0;
}

h1, h2 {
  margin:0;
  padding:0;
}

.nostyle {
  outline:none;
  background:none;
  border:none;
  cursor:pointer;
}

.icon {
  font-family:FontAwesome;
  font-weight:normal;
  @include noselect();
}

.outline-icon {
  font-family:Tonicons;
}

.wrapper {
  position:relative;
}

.container {
  margin-left:270px;
}
