.announcement {

  .modal-wrapper {
    max-width:540px;
  }

  .modal {
    top:15%;
  }

  .modal-body {
    padding:40px 30px 30px 30px;
    line-height:170%;

    h1 {
      font-size:26px;
      padding-bottom:10px;
    }

    p, button {
      font-size:17px;
    }

    a {
      color:$ocean;
    }

    .buttons {
      padding-top:20px;
      text-align:right;
    }

  }

}