.announcement {

  .modal-body {
    padding:30px;

    h1 {
      font-size:26px;
    }

    p, button {
      font-size:17px;
    }

    .buttons {
      padding-top:20px;
      text-align:right;
    }

  }

}