@import "announcement";

@import "../common/globals/globals";
@import "../common/layout/sidebar";
@import "../common/layout/container";

@import "../common/components/badge";
@import "../common/components/menupopup";
@import "../common/components/prompt";

@import "../common/content/upload/upload";
@import "../common/content/job/jobprogress";
@import "../common/content/ner/ner";

@import "header/header";
@import "sidebar/sidebar";

