@import "../common/globals/globals";

@import "../common/components/badge";
@import "../common/components/menupopup";
@import "../common/components/modal";
@import "../common/components/prompt";

@import "sidebar/sidebar";
@import "header/header";
@import "documents/documents";
@import "upload/upload";

.container {
  margin-left:261px;
}

