@import '../../components/modal';

.share-options {

  .share-options-body {
    display:grid;
    grid-template-columns:200px auto;

    .share-options-sidemenu {
      background-color:$blueish-white;
      border-right:1px solid $lightgrey-border-darker;

      ul {
        margin:0;
        padding:0;
        list-style-type:none;
      }

      li {
        margin:0;
        padding:20px;
        border-bottom:1px solid $lightgrey-border-darker;
        cursor:pointer;
      }

      li.active {
        background-color:#fff;
      }
    }

    .share-options-settings {
      padding:20px;
      background-color:#fff;
    }

  }

}