@import '../../components/modal';
@import 'collaborators/collaborators';

.multi-share {
  display:grid;
  grid-template-columns:200px auto;

  .multi-share-tabs {
    background-color:$blueish-white;
    border-right:1px solid $lightgrey-border-darker;

    ul {
      margin:0;
      padding:0;
      list-style-type:none;
    }

    li {
      margin:0;
      padding:20px;
      border-bottom:1px solid $lightgrey-border-darker;
      cursor:pointer;
    }

    li.active {
      background-color:#fff;
    }

    li.disabled {
      color:$lightblue-type;
    }

  }

  .multi-share-body {
    background-color:#fff;
    font-size:14px;
    padding:0;

    h3 {
      margin:0;
      padding-bottom:15px;
      font-size:16px;
    }

    label {
      font-weight:bold;
      cursor:pointer;
    }

    label:before {
      font-weight:normal;
    }

    p {
      margin:0;
      padding:5px 0 20px 0;
      line-height:150%;
    }

    select {
      margin:5px 0 10px 10px;
      font-size:15px;
    }

    option {
      font-size:15px;
    }

    .multi-share-section {
      padding:20px;
      border-bottom:1px solid $lightgrey-border;
    }

    .multi-share-section:last-child {
      border-bottom:none;
    }

  }

}

