.explore-network-modal {

  .modal-wrapper {
    width:440px;
    min-width:440px;
    max-width:440px;
  }

  .explore-network {
    padding:30px 20px;

    ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }

    li {
      position:relative;
      padding:2px 0;
      margin:0 18px;
    }

    li > .merge {
      padding:2px 12px;
      vertical-align:top;
      margin-left:8px;
      display:none;
    }

    li:hover > .merge {
      display:inline-block;
    }

    span.doc-id {
      display:inline-block;
      margin:0 8px 0 22px;
      padding:1px 4px;
    }

    span.selected {
      background-color:rgba($ocean, 0.2);
      border:1px solid rgba($ocean, 0.5);
      @include rounded-corners(3px);
    }

    span.edits-since {
      font-size:14px;
      color:lighten($standard-type, 20%);
    }

    a {
      color:$form-type;
      font-size:15px;
      font-weight:bold;
      text-decoration:none;
    }

    a:hover {
      text-decoration:underline;
    }

    li::before {
      content:'';
      width:12px;
      position:absolute;
      border-bottom:1px solid rgba($ocean, 0.6); // darken($lightgrey-border-darker, 8%);
      left:10px;
      top:14px;
    }

    li::after {
      content:'';
      height:28px;
      top:-14px;
      left:10px;
      position:absolute;
      border-left:1px solid rgba($ocean, 0.6); // darken($lightgrey-border-darker, 8%);
    }

    li:first-child::after {
      top:0;
      height:14;
    }
    
  }

}